.title {
    padding-left: 20px;
    font-style: italic;
}

.mainImage {
    width: 90%;
    height: 90%;
}

.appIcon {
    width: 80px;
    height: 80px;
}

.conferenceIcon {
    width: 80px;
    height: 80px;
}

.catalogIcon {
    width: 80px;
    height: 80px;
}

.tournamentIcon {
    padding-top: 5px;
    width: 80px;
    height: 80px;
}

.gmailIcon {
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.linkedInIcon {
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.githubIcon {
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.centerFooter {
   padding-left: 25%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -70px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 70px; /* .push must be the same height as .footer */
}
